.about-section {
    padding: 4rem 0;
    background-color: #f3f3f3;
    color: #333;
}

.about-section h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.about-section p {
    margin-bottom: 1rem;
    line-height: 1.6;
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
